<!-- Article footer -->
<footer class="entry-footer">
            </footer> <!-- end entry-footer -->
</div>

    </div>

</div>
</div>
<!-- Blog Posts end -->

<div class="clearfix"></div>
<!-- Secondary Footer-->


<!-- Footer Simple start -->
<footer class="footer-simple wow fadeIn" id="footer-simple-1">
<div class="container">
<div class="row">
  <div class="col-md-8"><p class="text-right">© Copyright Sensual Erotic Massage for Women. All Rights Reserved. </p></div>
  <div class="col-md-4">
      <ul class="social-media footer-link">
                <li><a href="/reviews/" target="_blank">Sensual Massage Reviews Cape Town</a></li>
                      <li><a href="/erotic-massage-testimonials/" target="_blank">Erotic Massage Testimonials</a></li>
                      <li><a href="/the-benefits-of-vagina-massage/" target="_blank">The benefits of Vagina Massage</a></li>
                      <li><a href="/four-hour-erotic-massage/" target="_blank">Kama Sutra Massage</a></li>
                      </ul>
  </div>
</div>
</div>
</footer>
<!-- Footer Simple end -->


<a href="#" class="scroll-up-btn hidden-xs"><i class="fa fa-angle-up"></i></a>

<script type="text/javascript" src="/wc/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/wc/js/wow.min.js"></script>
<script type="text/javascript" src="/wc/js/animated-headlines.js"></script>
<script type="text/javascript" src="/wc/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="/wc/js/scrollTo.js"></script>
<script type="text/javascript" src="/wc/js/wp-embed.js"></script>
