---
layout: pageblog
---

<!-- Teaser start -->
<div id="teaser-blog">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <h2 class="title">Tag: {{ page.tag }}</h2>
            </div>
                    <div class="col-md-6 text-right">
          <div id="crumbs" class="breadcrumbs"><span><a href="https://ianmarshallmassage.com">Home</a></span> - <span>{{ page.title }}</span></div>				</div>

        </div>
    </div>
</div>
<!-- Teaser end -->

<!-- Blog Posts start -->
<section id="post-1909" class="blog-posts" >
    <div class="container">
        <div class="row">
            <div class="col-md-8">

              {% for post in site.tags[page.tag] %}

                <div class="blog-post blog-card single-post">

																		<div class="archive-content">
								    	        <div class="post-attachment">
	        </div>
	    	<!-- Article content -->
	<div class="entry-content">
					<div class="entry-header">
			        <h2 class="post-title"><a href="{{ post.url | relative_url }}" title="{{ post.title | escape }}">{{ post.title | escape }}</a></h2>
			        <ul class="list-inline entry-meta post-date"><li class="meta-date"><i class="fa fa-calendar"></i>  {{ post.date | date: "%B %d, %Y" }} </li></ul>			</div> <!-- end entry-header -->

        <p>{{ post.excerpt }}<a class="more-link" href="{{ post.url | relative_url }}">Continue Reading</a></p>
	</div> <!-- end entry-content -->
							</div>
            </div>
            {%- endfor -%}
        </div>
        <div class="col-md-4">
          <div class="sidebar">
              <aside id="recent-posts-2" class="widget widget_recent_entries">		<h3 class="widget-title">Recent Posts</h3>
                {%- for post in site.posts -%}
                <ul>
                        <li>
                <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                        </li>
                {%- endfor -%}
                </ul>
          </aside>    </div> <!-- end sidebar -->
        </div>
    </div>
</div>
</section>
<!-- Blog Posts end -->

<div class="clearfix"></div>
<!-- Secondary Footer-->

</body>
